@model UserLoginModel

@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>
<hr />

<form method="post">
    <div>
        @ViewData["Status"]
    </div>
    <div>
        <label asp-for="@Model.UserName"></label>
        <br />
        <input asp-for="@Model.UserName" />
    </div>
    <div>
        <label asp-for="@Model.Password"></label>
        <br />
        <input asp-for="@Model.Password" />
    </div>
    <input type="submit" value="Log in" />
</form>