@model CarListViewModel

@{
    ViewData["Title"] = "Cars";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div>
    <a asp-action="Create">Create</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Picture</th>
            <th>
                <sort-header key="@CarSortKey.Company" state="@Model.SortModel">Company</sort-header>
            </th>
            <th>
                <sort-header key="@CarSortKey.Model" state="@Model.SortModel">Model</sort-header>
            </th>
            <th>
                <sort-header key="@CarSortKey.Year" state="@Model.SortModel">Year Manufactured</sort-header>
            </th>
            <th>
                <sort-header key="@CarSortKey.Displacement" state="@Model.SortModel">Displacement</sort-header>
            </th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th>
                <form method="get">
                    <select name="company" asp-items="@Model.FilterModel.Company"
                            onchange="this.form.submit()"></select>
                </form>
            </th>
            <th>
                <form method="get">
                    <input name="model" asp-for="@Model.FilterModel.Model" value="@Model.FilterModel.Model" />
                    <input type="submit" value="Filter" />
                </form>
            </th>
            <th>
                <form method="get">
                    <input name="year" asp-for="@Model.FilterModel.Year" value="@Model.FilterModel.Year" />
                    <input type="submit" value="Filter" />
                </form>
            </th>
            <th>
                <form method="get">
                    <input name="displacement" asp-for="@Model.FilterModel.Displacement" value="@Model.FilterModel.Displacement" />
                    <input type="submit" value="Filter" />
                </form>
            </th>
            <th>
                <form method="get">
                    <input type="submit" value="Reset" />
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>
                    <img src="@Url.Action("Picture", new { car.Id })" class="img-small" />
                </td>
                <td>
                    @car.Company
                </td>
                <td>
                    @car.Model
                </td>
                <td>
                    @car.Year
                </td>
                <td>
                    @car.Displacement
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@car.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@car.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>