@model CarListViewModel

@{
    ViewData["Title"] = "Cars";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div>
    <a asp-action="Create">Create</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Filter: </th>
            <th>
                <select-filter name="company" items="@Model.State.FilterModel.Company" state="@Model.State"></select-filter>
            </th>
            <th>
                <filter name="model" value="@Model.State.FilterModel.Model" state="@Model.State"></filter>
            </th>
            <th>
                <filter type="number" name="year" value="@Model.State.FilterModel.Year" state="@Model.State"></filter>
            </th>
            <th>
                <filter type="number" name="displacement" value="@Model.State.FilterModel.Displacement" state="@Model.State"></filter>
            </th>
            <th>
                <form method="get">
                    <input name="sortKey" type="hidden" value="@Model.State.SortModel?.SortKey" />
                    <input name="ascending" type="hidden" value="@Model.State.SortModel?.Ascending" />
                    <input type="submit" value="Reset" />
                </form>
            </th>
        </tr>
        <tr>
            <th>Picture</th>
            <th>
                <sort-header key="@CarSortKey.Company" state="@Model.State">Company</sort-header>
            </th>
            <th>
                <sort-header key="@CarSortKey.Model" state="@Model.State">Model</sort-header>
            </th>
            <th>
                <sort-header key="@CarSortKey.Year" state="@Model.State">Year Manufactured</sort-header>
            </th>
            <th>
                <sort-header key="@CarSortKey.Displacement" state="@Model.State">Displacement</sort-header>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>
                    <img src="@Url.Action("Picture", new { car.Id })" class="img-small" />
                </td>
                <td>
                    @car.Company
                </td>
                <td>
                    @car.Model
                </td>
                <td>
                    @car.Year
                </td>
                <td>
                    @car.Displacement
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@car.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@car.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>